{% extends 'base.html.twig' %}
{% block body %}
<div class="container text-center h-200 d-flex justify-content-center align-items-center" style="padding:50px">
  <div class="col-md-4">
    <div class="card card-body text-center h-200 d-flex justify-content-center align-items-center" style="background: #E0FFFF">
      <a type="submit" onclick=" location = '{{ path('inicio') }}' " class="btn btn-success btn-block mb-3 d-inline" name="guardar">Menu principal</a>

        <div class="col-lg-8 align-center">
            <h1>Agregar un nuevo empleado</h1>
             {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
              {% endfor %}
            {{ form_start(form) }}

            <div class="form-group mb-3">
                {{ form_widget(form.nombre) }}
            </div>

            <div class="form-group mb-3">
                {{ form_widget(form.edad) }}
            </div>
            <div class="form-group mb-3">
                {{ form_widget(form.departamento) }}
            </div>
            <div class="form-group mb-3">
                {{ form_widget(form.cargo) }}
            </div>
            <div class="form-group mb-3">
                {{ form_widget(form.sueldo) }}
            </div>
            <input type="submit" class="btn btn-success btn-block mb-3" name="guardar" value="Guardar registro">
            {{ form_end(form) }}
        
        </div>
      
      
      <a type="submit" onclick=" location = '{{ path('personal') }}' " class="btn btn-success btn-block mb-3" name="guardar">Volver</a>
      
   </form> 
    </div>
  </div>
</div>
{% endblock %}